.full-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg-animated {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/stars.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  z-index: -1;
  animation: moveStars 100s linear infinite;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 10000px;
  }
}
.full-screen {
  position: relative;
  overflow-x: hidden;
}